fastapi==0.100.0
uvicorn[standard]
python-dotenv==1.0.1
python-multipart==0.0.20
sqlalchemy==2.0.37
sqlalchemy-orm
SQLAlchemy==2.0.37
paramiko==3.4.0
pydantic-settings
apscheduler
fastapi-cache2
psycopg2-binary==2.9.10
pandas
boto3
pydantic>=2.7,<3.0
eventregistry
pydantic[email]
redis 
orjson 
httpx 
sse-starlette
pyotp